// В этом файле должны быть стили для БЭМ-блока b-main-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-main-header {

  $block-name:                &; // #{$block-name}__element

  margin: 36px 0;
  font-size: $font-size--h1;
  color: #000;

  a {
    color: $color-main;

    &:hover,
    &:focus {
      color: $color-main--dark;
    }
  }

  &__hide-xs {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__separator {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }



  &--content {
    margin: 0 0 20px;
    font-size: 24px;
  }

  &--single {
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
    }
  }
}
