// В этом файле должны быть стили для БЭМ-блока b-label-2, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-label-2 {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  border-radius: 20px;
  background: #A1BF4B;
  color: #fff;
  font-size: $font-size--small;
  font-family: $font-family;
  line-height: 20px;
  text-align: center;

  &--danger {
    background: #D84B2A;
  }

  &--text {
    padding-left: 8px;
    padding-right: 8px;
  }
}
