// В этом файле должны быть стили для БЭМ-блока b-user-avatar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-user-avatar {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 15px;

  &__img {
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__img-wrap {
    position: relative;
    flex-shrink: 0;
    width: 100px;
  }

  &__new-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    background-color: #fff;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $gray-light;
    }
  }

  &__name {
    color: #000;
    line-height: 1;
  }

  &__email {
    font-size: 12px;
    color: $text-color !important;
  }

  &__descr {
    padding: 4px 0 0 30px;
  }

  &__name-descr {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    color: $text-color;
  }



  &--center {
    text-align: center;
  }

  &--profile {
    display: flex;
    align-items: center;

    @media (max-width: ($screen-md - 1)) {
      margin-top: 30px;
    }

    @media (min-width: $screen-md) {
      display: block;
      margin-bottom: 25px;
      text-align: center;

      #{$block-name}__descr {
        padding-top: 7px;
        padding-left: 0;
      }

      #{$block-name}__img-wrap {
        margin: auto;
      }
    }
  }
}
