// В этом файле должны быть стили для БЭМ-блока b-chat-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-chat-list {

  $block-name:                &; // #{$block-name}__element

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 4px;

    &:not(:last-child) {
      border-bottom: 1px solid #E8E8E8;
    }
  }
}
