// В этом файле должны быть стили для БЭМ-блока b-burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-burger {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 18px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;

  @media (min-width: $screen-md) {
    display: none;
  }

  > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    font-size: 0;
    color: transparent;
    background: #A1BF4B;
    transition: background 0.3s 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #A1BF4B;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }
  }

  &__label {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #D84B2A;
    transition: opacity 0.3s 0.3s;
  }

  &--close {
    // background-color: $color-main--dark;

    > span {
      transition: background 0.3s 0s;
      background: transparent;

      &:before,
      &:after {
        transition: top 0.3s, transform 0.3s 0.3s;
        top: 0;
        background: #fff;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }

    #{$block-name}__label {
      transition: opacity 0.3s 0s;
      opacity: 0;
    }
  }
}
