// В этом файле должны быть стили для БЭМ-блока b-modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-modal {

  $block-name:                &; // #{$block-name}__element

  @media (max-width: ($screen-md - 1)) {
    top: 50px;
    background-color: #fff;
  }

  a {
    color: $color-main;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-main--dark;
      text-decoration: underline;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    margin-top: 3px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 26px;
  }

  .modal-dialog {

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
    }

    @media (min-width: $screen-md) {
      margin-top: 190px;
      width: 460px;
    }
  }

  .modal-content {
    box-shadow: none !important;

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: none;
      border-radius: 0;
    }
  }

  .modal-header {
    text-align: center;
    border: none;
  }

  .modal-title {
    position: relative;
    margin: 0 30px;
    color: #000;
    font-size: $font-size--h2;

    small {
      display: block;
      margin-top: 4px;
      color: $gray-light;
      font-size: $font-size;
    }

    @media (max-width: ($screen-md - 1)) {
      padding-top: 40px;
      padding-bottom: 5px;
    }

    @media (min-width: $screen-md) {
      padding-top: 10px;
    }
  }

  .modal-body {
    padding-bottom: 40px;
  }

  .modal-footer {
    position: relative;
    border: none;
    text-align: center;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 15px;
      left: 15px;
      height: 1px;
      background-color: $gray-lightest;
    }
  }

  &__form {
    max-width: 290px;
    margin: auto;
    text-align: center;
  }

  &__form-btn {
    margin-top: 10px;
  }

  &__or {
    margin: 26px auto 15px;
    max-width: 290px;
  }

  &__link-arr {
    display: inline-block;
    position: relative;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $color-main;
    }

    &:hover,
    &:focus {

      svg {
        fill: $color-main--dark;
      }
    }
  }

  &__title-inner {
    max-width: 290px;
    margin: auto;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__back-btn {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;

    svg {
      fill: $gray-light-2;
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 42px;
      left: 50%;
      transform: translateX(-195px);
    }

    @media (min-width: $screen-md) {
      top: 14px;
    }
  }

  &__form-forgot {
    display: flex;
    align-items: baseline;
    font-size: 12px;
  }

  &__form-forgot-left {
    margin-right: auto;
  }

  &__gray-checkbox {
    padding-left: 20px;

    input[type=checkbox] {
      margin-top: 1px;
    }

    label {
      font-size: 12px;
      color: $gray-light;
    }

    &--mb0 {
      margin-bottom: 0;
    }
  }

  &__field-group {

    .b-form-control {
      position: relative;

      &:focus {
        z-index: 1;
      }

      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .b-form-control + .b-form-control {
      margin-top: -1px;
    }
  }

  &--lg {

    @media (min-width: $screen-md) {

      .modal-dialog {
        width: 700px;
      }
    }

    @media (min-width: $screen-lg) {

      .modal-dialog {
        width: 940px;
      }
    }
  }

  &--md {

    @media (min-width: $screen-md) {

      .modal-dialog {
        width: 620px;
      }
    }
  }

}

.modal-backdrop {

  @media (max-width: ($screen-md - 1)) {
    display: none !important;
  }
}
