// В этом файле должны быть стили для БЭМ-блока b-user-photo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-user-photo {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  [type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
  }

  &__img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
  }

  &__descr {
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #535353;
  }

  &--error {

    #{$block-name}__descr {
      color: #D84B2A;
    }
  }

  &__new-avatar {
    display: block;
    width: 100%;
    height: auto;
  }

  &__new-avatar-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    overflow: hidden;
  }

  &__modal-new-avatar {

    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }

    .cropper-face {
      opacity: 0;
    }

    .cropper-view-box {
      outline: none;
    }

    .cropper-dashed,
    .cropper-center,
    .cropper-line {
      display: none;
    }
  }
}
