// В этом файле должны быть стили для БЭМ-блока b-save-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-save-btn {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 11px 16px;
  padding: 16px 24px 17px 64px;
  // font-size: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #535353;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: transparent;
  // border: 1px solid #E8E8E8;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  // box-shadow: 2px 2px 8px rgba(151, 151, 151, 0.15);
  outline: none;

  @media (min-width: $screen-md) {
    background: #fff;
    box-shadow: 2px 2px 8px rgba(151, 151, 151, 0.15);
  }

  &:hover,
  &:focus {
    color: #535353;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    top: 14px;
    left: 27px;
    fill: #CFCECE;
    transition: none;
  }

  &__icon-active {
    position: absolute;
    top: 14px;
    left: 27px;
    opacity: 0;
    fill: #D84B2A;
    transition: all 0.2s ease;
  }

  &__text-to {
    display: none;

    @media (min-width: $screen-md) {
      display: inline;
    }
  }



  &--active {

    #{$block-name}__icon {
      opacity: 0;
      transform: scale(1.6);
      transition: opacity 0.3s 0.2s ease, transform 0.4s ease;
    }

    #{$block-name}__icon-active {
      opacity: 1;
    }
  }

  &--hidden {

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &--animate:not(.b-save-btn--active) {

    #{$block-name}__icon {
      animation: save-btn-icon-default 0.8s 2 ease;
    }

    #{$block-name}__icon-active {
      animation: save-btn-icon-active 2s 1 ease;
    }
  }

  @keyframes save-btn-icon-default {

    20% {
      opacity: 1;
    }

    80%,
    100% {
      opacity: 0;
      transform: scale(1.6);
    }
  }

  @keyframes save-btn-icon-active {

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
