// В этом файле должны быть стили для БЭМ-блока b-card-mini-2-msg, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-card-mini-2-msg {

  $block-name:                &; // #{$block-name}__element

  max-width: 360px;
  padding: 18px 0 10px;

  p {
    margin: 0 0 12px;
    font-size: 14px;
    line-height: 20px;
    color: #535353;
  }

  &__title {
    margin: 0 0 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    margin: 0 8px 8px 0;
  }
}
