// В этом файле должны быть стили для БЭМ-блока b-user, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dropdown-menu {

  $block-name:                &; // #{$block-name}__element

  &__link {
    transition: color;

    &:hover {
      color: #98c12f;
    }
  }
}
