// В этом файле должны быть стили для БЭМ-блока b-form-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-form-group {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 24px;

  select {
    padding-right: 32px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.00016 5.93301C4.76683 5.93301 4.61127 5.85301 4.45572 5.69301L0.566829 1.69301C0.255718 1.37301 0.255718 0.893008 0.566829 0.573008C0.877941 0.253008 1.34461 0.253008 1.65572 0.573008L5.00016 4.01301L8.34461 0.573008C8.65572 0.253008 9.12239 0.253008 9.4335 0.573008C9.74461 0.893008 9.74461 1.37301 9.4335 1.69301L5.54461 5.69301C5.38905 5.85301 5.2335 5.93301 5.00016 5.93301Z' fill='%23A1A1A1'/%3E%3C/svg%3E");
    background-position: center right 17px;
    background-repeat: no-repeat;
  }

  a.selectBox-dropdown {
    color: inherit;
    text-decoration: none;
  }

  &__label {
    margin: 0 0 8px 0 !important;  // перебиваем Bootstrap
    font-weight: 500 !important; // перебиваем Bootstrap
    font-size: 14px;
    line-height: 20px;
    color: #000000 !important; // перебиваем Bootstrap
  }

  &__input {
    margin-bottom: 8px;

    &:hover {
      border-color: #A1A1A1;
    }

    &:focus {
      border-color: #A1BF4B;
      box-shadow: none;
    }
  }

  &__help-text {
    margin: 0 0 -16px 0;
    font-size: 12px;
    line-height: 20px;
    color: #A1A1A1;

    &:empty {
      display: none;
    }

    a {
      text-decoration: none;
    }

    &--error {
      color: #D84B2A;
    }

    &--success {
      color: #799234;
    }

    &--lg {
      font-size: inherit;
    }

    &--right {
      text-align: right;
    }
  }

  &__link-gray {
    color: #A1A1A1 !important;
  }

  &__option-gray {
    background: #F8F8F8;

    &.selectBox-label {
      background: transparent;
    }
  }

  &__input-selectBox-dropdown-menu {

    a {

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    .selectBox-selected:not(.b-form-group__option-gray) a {
      padding-right: 30px;
      background-repeat: no-repeat;
      background-position: center right 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25308 11.0987C6.5199 11.4298 7.01623 11.4527 7.31242 11.1477L12.8975 5.3596C13.17 5.07902 13.1634 4.63072 12.8828 4.35829C12.6022 4.08586 12.1539 4.09245 11.8815 4.37303L6.84009 9.60324L4.1027 7.44449C3.85728 7.14001 3.4115 7.09212 3.10701 7.33754C2.80253 7.58296 2.75464 8.02875 3.00006 8.33323L6.25308 11.0987Z' fill='%23A1BF4B'/%3E%3C/svg%3E");
    }
  }

  &__label-checkbox {
    margin: 0 !important;
    min-height: 20px;

    &:hover,
    &:focus {

      #{$block-name}__checkbox-text {

        &:before {
          border-color: #A1A1A1;
        }
      }

      input:checked ~ #{$block-name}__checkbox-text:before {
        background-color: #C24629;
        border-color: #C24629;
      }
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  &__checkbox-text {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    line-height: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #CFCECE;
      border-radius: 2px;

      input:checked ~ & {
        background-color: #D84B2A;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6L5 9L10 3' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        border-color: #D84B2A;
      }
    }

    &--pl32 {
      padding-left: 32px;
    }
  }

  &__phone-wrap {
    display: flex;
    align-items: center;
    margin: 8px 0 !important;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 10px 12px;
    height: 40px;
    font-size: 14px !important;

    &--focus {
      border-color: #A1BF4B;
    }
  }

  &__phone-code {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    height: 22px;
    padding-right: 5px;
    margin-right: 4px;
    color: #CFCECE;

    &:after {
      content: '';
      position: absolute;
      top: 45%;
      right: 0;
      width: 2px;
      height: 12px;
      background: #E7E6E6;
      transform: translateY(-50%);
    }
  }

  &__phone-input {
    margin: 0;
    padding: 0;
    border: 0;
    flex-grow: 1;
    height: 22px;
    outline: none;
  }

  &__group {
    display: flex;

    .b-form-group__input {
      flex-grow: 1;
      position: relative;

      &:not(:first-child) {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:focus {
        z-index: 1;
      }
    }
  }



  &--error,
  &.has-error {

    .b-form-group__label {
      color: #D84B2A !important;
    }

    .b-form-group__input {
      color: #D84B2A;
      border-color: #D84B2A;
      box-shadow: none;
    }

    .b-form-group__help-text {
      color: #D84B2A;
    }
  }

  &--mb-20 {
    margin-bottom: 20px;
  }

  &--pb8 {
    padding-bottom: 8px;
  }
}
