// В этом файле должны быть стили для БЭМ-блока b-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// И некоторые стили для борьбы с легаси-кодом. :(
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

body {
  min-width: 320px;
}

.btn-black {
  border-radius: 2px;
  color: #fff !important;
  background-color: #000 !important;
}

.col-xs2-1,
.col-xs2-2,
.col-xs2-3,
.col-xs2-4,
.col-xs2-5,
.col-xs2-6,
.col-xs2-7,
.col-xs2-8,
.col-xs2-9,
.col-xs2-10,
.col-xs2-11,
.col-xs2-12
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width: $screen-sm) {
  .col-xs2-12 {width: 100%;}
  .col-xs2-11 {width: 91.66666667%;}
  .col-xs2-10 {width: 83.33333333%;}
  .col-xs2-9 {width: 75%;}
  .col-xs2-8 {width: 66.66666667%;}
  .col-xs2-7 {width: 58.33333333%;}
  .col-xs2-6 {width: 50%;}
  .col-xs2-5 {width: 41.66666667%;}
  .col-xs2-4 {width: 33.33333333%;}
  .col-xs2-3 {width: 25%;}
  .col-xs2-2 {width: 16.66666667%;}
  .col-xs2-1 {width: 8.33333333%;}
}

.b-page {

  &.is-shown-map {
    overflow: hidden;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    &--wide {
      max-width: 1137px;
    }
  }

  &__alert-wrap {
    margin-bottom: 24px;

    @media (min-width: $screen-lg) {
      position: fixed;
      z-index: 99;
      top: 59px;
      left: 0;
      right: 0;
      padding: 0 15px;
      margin: 0;
    }

    .b-alert {
      max-width: 1107px;
      margin: auto;
    }
  }

  // исправление ёбаного пиздеца, доставшегося с легаси-кодом
  .form-group p {
    padding: 0;
  }
}

.field {

  // @at-root .step_same & {
  //   padding-top: 16px;
  // }

  .name {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
  }
}
