// В этом файле должны быть стили для БЭМ-блока b-mobile-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-mobile-nav {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  width: 335px;
  overflow-y: auto;
  background: #fff;
  transform: translateX(101%);
  transition: transform 0.3s;

  @media (min-width: $screen-md) {
    display: none;
  }

  &__avatar {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    background: #A1BF4B;
  }

  &__user-wrap {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 0 10px;
    padding: 10px 24px;
    border-bottom: 1px solid #E8E8E8;
  }

  &__user-msg {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #282828;
    opacity: 0;
    transition: opacity 0.3s;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &--show {
    transform: translateX(0);

    & ~ #{$block-name}__backdrop {
      width: 100%;
      opacity: 1;
    }
  }
}
