// В этом файле должны быть стили для БЭМ-блока b-stats, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-stats {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-md) {
    border-top: 1px solid $gray-lightest;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $gray-lightest;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__header {
    padding-top: 20px;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__increase {
    margin-left: auto;
  }

  &__dates {
    margin-bottom: 10px;
    font-size: $font-size--small;
    line-height: $line-height;
    color: #000;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__date {
    color: $gray-light;
  }

  &__nowrap {
    white-space: nowrap;
  }

  &__list-wrap {
    padding-top: 20px;

    @media (min-width: $screen-sm) {
      padding-top: 0;
      padding-bottom: 8px;
      height: 240px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 35px;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        bottom: 29px;
        left: -15px;
        right: -15px;
        height: 1px;
        background: $gray-lightest;
      }
    }

    @media (min-width: $screen-lg) {

      &:before {
        left: 15px;
        right: 15px;
      }
    }
  }

  &__list-item {
    margin-bottom: 5px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      width: 50px;
      margin: 0 15px;
    }
  }

  &__sep {

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__col-wrap {

    @media (min-width: $screen-sm) {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      height: calc(100% - 35px);
    }
  }

  &__col {

    @media (min-width: $screen-sm) {
      display: block;
      position: relative;
      flex-grow: 0;
      border: 1px solid $color-main;
      border-bottom: none;
      background: #F7F9F3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAICAMAAACI9Yx1AAAAFVBMVEXt7+nu7+nu8On19/H29/H2+PH3+fM/ggsOAAAAM0lEQVR42pXKyQ0AMAwCwc1h+i85ttIA8BkhLetqVq7Ud7sS9kXYi7AXLfNdac9cV8JeD+i5B5mWC7GSAAAAAElFTkSuQmCC);
    }
  }

  &__num {
    color: #000;

    @media (min-width: $screen-sm) {
      position: absolute;
      padding-bottom: 4px;
      bottom: 100%;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__country {
    font-size: $font-size--small;
    color: #000;

    @media (min-width: $screen-sm) {
      flex-grow: 0;
      display: block;
      margin-top: 8px;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
