// В этом файле должны быть стили для БЭМ-блока b-info-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-info-btn {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0;
  color: transparent;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0C3.58201 0 0 3.58201 0 8C0 12.418 3.58201 16 8 16C12.418 16 16 12.418 16 8C16 3.58201 12.418 0 8 0ZM9.66667 12.3995C9.25397 12.5608 8.92593 12.6852 8.67989 12.7698C8.43386 12.8545 8.15079 12.8968 7.8254 12.8968C7.32804 12.8968 6.93915 12.7751 6.66138 12.5317C6.38624 12.291 6.24868 11.9815 6.24868 11.6058C6.24868 11.4603 6.25926 11.3122 6.28042 11.1614C6.29894 11.0079 6.33333 10.8386 6.37831 10.6455L6.89418 8.8254C6.93915 8.65079 6.97884 8.48677 7.01058 8.33069C7.04233 8.1746 7.05556 8.03175 7.05556 7.90212C7.05556 7.67196 7.00794 7.50794 6.9127 7.41799C6.81481 7.3254 6.63228 7.28042 6.36243 7.28042C6.23016 7.28042 6.09259 7.30159 5.95238 7.34127C5.81217 7.3836 5.69312 7.42328 5.59259 7.46032L5.73016 6.89947C6.06614 6.76191 6.38889 6.6455 6.69841 6.54762C7.00529 6.44974 7.29894 6.39947 7.57143 6.39947C8.06614 6.39947 8.44974 6.52116 8.71693 6.75926C8.98413 6.99735 9.11905 7.30952 9.11905 7.69048C9.11905 7.76984 9.11111 7.91005 9.09259 8.10847C9.07407 8.30688 9.03968 8.48942 8.98942 8.65873L8.47619 10.4735C8.43386 10.619 8.39683 10.7857 8.36243 10.9709C8.33069 11.1561 8.31481 11.2989 8.31481 11.3942C8.31481 11.6349 8.36772 11.8016 8.47619 11.8889C8.58201 11.9762 8.76984 12.0185 9.03704 12.0185C9.16138 12.0185 9.30159 11.9974 9.46032 11.955C9.6164 11.9101 9.73016 11.873 9.80159 11.8386L9.66667 12.3995ZM8.71164 5.36508C9.04762 5.36508 9.33598 5.25397 9.57407 5.03175C9.81482 4.80952 9.93386 4.53968 9.93386 4.22487C9.93386 3.91005 9.81482 3.63757 9.57407 3.4127C9.33598 3.18783 9.04762 3.07672 8.71164 3.07672C8.37566 3.07672 8.08466 3.18783 7.84392 3.4127C7.60582 3.63757 7.48413 3.91005 7.48413 4.22487C7.48413 4.53968 7.60318 4.80952 7.84392 5.03175C8.08466 5.25397 8.37566 5.36508 8.71164 5.36508Z' fill='%23CFCECE'/%3E%3C/svg%3E%0A");
  }
}
