// В этом файле должны быть стили для БЭМ-блока b-info-bottom, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-info-bottom {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 66px;
  background-color: #fff;

  &__inner {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 15px 15px;
    max-width: 980px;
    margin: auto;
  }

  &__close {
    position: absolute;
    top: -15px;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 1;
    background: #fff !important;

    span {
      color: #ccc;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      opacity: 1;

      span {
        color: #000;
      }
    }

    &--lg {
      top: -18px;
      right: 0;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
  }

  &__text {
    flex-grow: 1;
    min-width: 0;
    margin-right: 8px;
  }

  &__btn {
    position: relative;
    flex-shrink: 0;

    &--single-btn-right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &--location {
    box-shadow: 0px -2px 4px rgba(216, 216, 216, 0.5);

    .b-info-bottom__inner {
      padding: 16px;
      align-items: flex-start;
    }
  }

  &--buttons-only {

    .b-info-bottom__inner {
      margin: 0 -8px;
    }

    .b-info-bottom__btn {
      width: 50%;
      padding: 0 8px;
    }
  }

  &--cookies {

    @media (min-width: $screen-md) {
      width: 350px;
      right: auto;
    }

    #{$block-name}__btn {
      margin-top: 1em;
    }

    #{$block-name}__inner {
      display: block;

      @media (min-width: $screen-md) {
        padding: 2em;
      }
    }

    #{$block-name}__text {
      margin-right: 0;
    }
  }

  &--invert {
    background: #000;
    color: $gray-lightest-2;

    a {
      color: #6fa8d9;
    }

    #{$block-name}__close {
      background: #000 !important;
      color: $gray-lightest-2 !important;

      &:hover,
      &:focus {
        opacity: 1;

        span {
          color: $gray-lightest-2;
        }
      }
    }
  }
}
