// В этом файле должны быть стили для БЭМ-блока b-field-num, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-field-num {

  $block-name:                &; // #{$block-name}__element

  display: block;

  &__input-and-btns {
    position: relative;
    display: flex;
    min-width: 134px;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
  }

  &__btn {
    position: relative;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    font: 0/0 a;
    color: transparent;
    background: transparent;
    outline: none;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  &__text-currency {
    margin-right: 0.3em;
  }
}
