// В этом файле должны быть стили для БЭМ-блока b-link, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-link {
  padding: 0;
  color: #D84B2A;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: none;

  &:hover,
  &:focus {
    color: #C24629;
    text-decoration: none;
    border: none;
    background: transparent;
  }

  &--inherit-color {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}
