// В этом файле должны быть стили для БЭМ-блока b-label, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-label {

  $block-name:                &; // #{$block-name}__element

  display: inline;
  padding: 1px 5px;
  border-radius: 3px;
  line-height: 1;
  color: #fff;
  background-color: $color-second;

  &--light-danger {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    color: #D84B2A;
    background: #F7E4DF;
  }

  &--light-success {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    color: #799234;
    background: #F1F6E3;
  }
}
