// В этом файле должны быть стили для БЭМ-блока b-phone-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-phone-select {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  .form-control {
    padding-left: 42px !important;
    padding-right: 46px !important;
  }
}

.intl-tel-input {
  position: relative;
}

.flag-container {
  position: relative;
}

.selected-flag {
  position: relative;
  outline: none;

  &:hover,
  &:focus {}

  .iti-flag {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 3px;
    padding: 0 0 0 14px;
    width: 40px;
    height: 40px !important;
    background: none;
    box-shadow: none;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      box-shadow: 0 0 0 1px $gray-lightest-2;
    }
  }

  .iti-arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 46px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #c4c4c4 transparent transparent transparent;
      transition: all 0.3s;
    }
  }
}

.iti-flag,
.iti-flag:before {
  width: 20px;
  height: 15px;
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  background-color: $gray-light;
  background-position: 20px 0;
}

.intl-tel-input .country {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 14px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.active {
    background-color: $gray-lightest-2;
  }
}

.intl-tel-input .country-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 41px;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 3px 0;
  margin: 0;
  background-color: white;
  border: 1px solid #c4c4c4;
  white-space: nowrap;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.intl-tel-input .country-name {
  margin-left: 8px;
  max-width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intl-tel-input .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c4c4c4;
}

.intl-tel-input .dial-code {
  margin-left: 8px;
  color: $gray-light;
}

.iti-flag {
  width: 20px;
  box-shadow: 0 0 0 1px $gray-lightest-2;
}

.iti-flag.be,
.iti-flag.be:before {
  width: 18px
}

.iti-flag.ch,
.iti-flag.ch:before {
  width: 15px
}

.iti-flag.mc,
.iti-flag.mc:before {
  width: 19px
}

.iti-flag.ne,
.iti-flag.ne:before {
  width: 18px
}

.iti-flag.np,
.iti-flag.np:before {
  width: 13px
}

.iti-flag.va,
.iti-flag.va:before {
  width: 15px
}

.iti-flag.ac,
.iti-flag.ac:before {
  height: 10px;
  background-position: 0px 0px
}

.iti-flag.ad,
.iti-flag.ad:before {
  height: 14px;
  background-position: -22px 0px
}

.iti-flag.ae,
.iti-flag.ae:before {
  height: 10px;
  background-position: -44px 0px
}

.iti-flag.af,
.iti-flag.af:before {
  height: 14px;
  background-position: -66px 0px
}

.iti-flag.ag,
.iti-flag.ag:before {
  height: 14px;
  background-position: -88px 0px
}

.iti-flag.ai,
.iti-flag.ai:before {
  height: 10px;
  background-position: -110px 0px
}

.iti-flag.al,
.iti-flag.al:before {
  height: 15px;
  background-position: -132px 0px
}

.iti-flag.am,
.iti-flag.am:before {
  height: 10px;
  background-position: -154px 0px
}

.iti-flag.ao,
.iti-flag.ao:before {
  height: 14px;
  background-position: -176px 0px
}

.iti-flag.aq,
.iti-flag.aq:before {
  height: 14px;
  background-position: -198px 0px
}

.iti-flag.ar,
.iti-flag.ar:before {
  height: 13px;
  background-position: -220px 0px
}

.iti-flag.as,
.iti-flag.as:before {
  height: 10px;
  background-position: -242px 0px
}

.iti-flag.at,
.iti-flag.at:before {
  height: 14px;
  background-position: -264px 0px
}

.iti-flag.au,
.iti-flag.au:before {
  height: 10px;
  background-position: -286px 0px
}

.iti-flag.aw,
.iti-flag.aw:before {
  height: 14px;
  background-position: -308px 0px
}

.iti-flag.ax,
.iti-flag.ax:before {
  height: 13px;
  background-position: -330px 0px
}

.iti-flag.az,
.iti-flag.az:before {
  height: 10px;
  background-position: -352px 0px
}

.iti-flag.ba,
.iti-flag.ba:before {
  height: 10px;
  background-position: -374px 0px
}

.iti-flag.bb,
.iti-flag.bb:before {
  height: 14px;
  background-position: -396px 0px
}

.iti-flag.bd,
.iti-flag.bd:before {
  height: 12px;
  background-position: -418px 0px
}

.iti-flag.be,
.iti-flag.be:before {
  height: 15px;
  background-position: -440px 0px
}

.iti-flag.bf,
.iti-flag.bf:before {
  height: 14px;
  background-position: -460px 0px
}

.iti-flag.bg,
.iti-flag.bg:before {
  height: 12px;
  background-position: -482px 0px
}

.iti-flag.bh,
.iti-flag.bh:before {
  height: 12px;
  background-position: -504px 0px
}

.iti-flag.bi,
.iti-flag.bi:before {
  height: 12px;
  background-position: -526px 0px
}

.iti-flag.bj,
.iti-flag.bj:before {
  height: 14px;
  background-position: -548px 0px
}

.iti-flag.bl,
.iti-flag.bl:before {
  height: 14px;
  background-position: -570px 0px
}

.iti-flag.bm,
.iti-flag.bm:before {
  height: 10px;
  background-position: -592px 0px
}

.iti-flag.bn,
.iti-flag.bn:before {
  height: 10px;
  background-position: -614px 0px
}

.iti-flag.bo,
.iti-flag.bo:before {
  height: 14px;
  background-position: -636px 0px
}

.iti-flag.bq,
.iti-flag.bq:before {
  height: 14px;
  background-position: -658px 0px
}

.iti-flag.br,
.iti-flag.br:before {
  height: 14px;
  background-position: -680px 0px
}

.iti-flag.bs,
.iti-flag.bs:before {
  height: 10px;
  background-position: -702px 0px
}

.iti-flag.bt,
.iti-flag.bt:before {
  height: 14px;
  background-position: -724px 0px
}

.iti-flag.bv,
.iti-flag.bv:before {
  height: 15px;
  background-position: -746px 0px
}

.iti-flag.bw,
.iti-flag.bw:before {
  height: 14px;
  background-position: -768px 0px
}

.iti-flag.by,
.iti-flag.by:before {
  height: 10px;
  background-position: -790px 0px
}

.iti-flag.bz,
.iti-flag.bz:before {
  height: 14px;
  background-position: -812px 0px
}

.iti-flag.ca,
.iti-flag.ca:before {
  height: 10px;
  background-position: -834px 0px
}

.iti-flag.cc,
.iti-flag.cc:before {
  height: 10px;
  background-position: -856px 0px
}

.iti-flag.cd,
.iti-flag.cd:before {
  height: 15px;
  background-position: -878px 0px
}

.iti-flag.cf,
.iti-flag.cf:before {
  height: 14px;
  background-position: -900px 0px
}

.iti-flag.cg,
.iti-flag.cg:before {
  height: 14px;
  background-position: -922px 0px
}

.iti-flag.ch,
.iti-flag.ch:before {
  height: 15px;
  background-position: -944px 0px
}

.iti-flag.ci,
.iti-flag.ci:before {
  height: 14px;
  background-position: -961px 0px
}

.iti-flag.ck,
.iti-flag.ck:before {
  height: 10px;
  background-position: -983px 0px
}

.iti-flag.cl,
.iti-flag.cl:before {
  height: 14px;
  background-position: -1005px 0px
}

.iti-flag.cm,
.iti-flag.cm:before {
  height: 14px;
  background-position: -1027px 0px
}

.iti-flag.cn,
.iti-flag.cn:before {
  height: 14px;
  background-position: -1049px 0px
}

.iti-flag.co,
.iti-flag.co:before {
  height: 14px;
  background-position: -1071px 0px
}

.iti-flag.cp,
.iti-flag.cp:before {
  height: 14px;
  background-position: -1093px 0px
}

.iti-flag.cr,
.iti-flag.cr:before {
  height: 12px;
  background-position: -1115px 0px
}

.iti-flag.cu,
.iti-flag.cu:before {
  height: 10px;
  background-position: -1137px 0px
}

.iti-flag.cv,
.iti-flag.cv:before {
  height: 12px;
  background-position: -1159px 0px
}

.iti-flag.cw,
.iti-flag.cw:before {
  height: 14px;
  background-position: -1181px 0px
}

.iti-flag.cx,
.iti-flag.cx:before {
  height: 10px;
  background-position: -1203px 0px
}

.iti-flag.cy,
.iti-flag.cy:before {
  height: 13px;
  background-position: -1225px 0px
}

.iti-flag.cz,
.iti-flag.cz:before {
  height: 14px;
  background-position: -1247px 0px
}

.iti-flag.de,
.iti-flag.de:before {
  height: 12px;
  background-position: -1269px 0px
}

.iti-flag.dg,
.iti-flag.dg:before {
  height: 10px;
  background-position: -1291px 0px
}

.iti-flag.dj,
.iti-flag.dj:before {
  height: 14px;
  background-position: -1313px 0px
}

.iti-flag.dk,
.iti-flag.dk:before {
  height: 15px;
  background-position: -1335px 0px
}

.iti-flag.dm,
.iti-flag.dm:before {
  height: 10px;
  background-position: -1357px 0px
}

.iti-flag.do,
.iti-flag.do:before {
  height: 13px;
  background-position: -1379px 0px
}

.iti-flag.dz,
.iti-flag.dz:before {
  height: 14px;
  background-position: -1401px 0px
}

.iti-flag.ea,
.iti-flag.ea:before {
  height: 14px;
  background-position: -1423px 0px
}

.iti-flag.ec,
.iti-flag.ec:before {
  height: 14px;
  background-position: -1445px 0px
}

.iti-flag.ee,
.iti-flag.ee:before {
  height: 13px;
  background-position: -1467px 0px
}

.iti-flag.eg,
.iti-flag.eg:before {
  height: 14px;
  background-position: -1489px 0px
}

.iti-flag.eh,
.iti-flag.eh:before {
  height: 10px;
  background-position: -1511px 0px
}

.iti-flag.er,
.iti-flag.er:before {
  height: 10px;
  background-position: -1533px 0px
}

.iti-flag.es,
.iti-flag.es:before {
  height: 14px;
  background-position: -1555px 0px
}

.iti-flag.et,
.iti-flag.et:before {
  height: 10px;
  background-position: -1577px 0px
}

.iti-flag.eu,
.iti-flag.eu:before {
  height: 14px;
  background-position: -1599px 0px
}

.iti-flag.fi,
.iti-flag.fi:before {
  height: 12px;
  background-position: -1621px 0px
}

.iti-flag.fj,
.iti-flag.fj:before {
  height: 10px;
  background-position: -1643px 0px
}

.iti-flag.fk,
.iti-flag.fk:before {
  height: 10px;
  background-position: -1665px 0px
}

.iti-flag.fm,
.iti-flag.fm:before {
  height: 11px;
  background-position: -1687px 0px
}

.iti-flag.fo,
.iti-flag.fo:before {
  height: 15px;
  background-position: -1709px 0px
}

.iti-flag.fr,
.iti-flag.fr:before {
  height: 14px;
  background-position: -1731px 0px
}

.iti-flag.ga,
.iti-flag.ga:before {
  height: 15px;
  background-position: -1753px 0px
}

.iti-flag.gb,
.iti-flag.gb:before {
  height: 10px;
  background-position: -1775px 0px
}

.iti-flag.gd,
.iti-flag.gd:before {
  height: 12px;
  background-position: -1797px 0px
}

.iti-flag.ge,
.iti-flag.ge:before {
  height: 14px;
  background-position: -1819px 0px
}

.iti-flag.gf,
.iti-flag.gf:before {
  height: 14px;
  background-position: -1841px 0px
}

.iti-flag.gg,
.iti-flag.gg:before {
  height: 14px;
  background-position: -1863px 0px
}

.iti-flag.gh,
.iti-flag.gh:before {
  height: 14px;
  background-position: -1885px 0px
}

.iti-flag.gi,
.iti-flag.gi:before {
  height: 10px;
  background-position: -1907px 0px
}

.iti-flag.gl,
.iti-flag.gl:before {
  height: 14px;
  background-position: -1929px 0px
}

.iti-flag.gm,
.iti-flag.gm:before {
  height: 14px;
  background-position: -1951px 0px
}

.iti-flag.gn,
.iti-flag.gn:before {
  height: 14px;
  background-position: -1973px 0px
}

.iti-flag.gp,
.iti-flag.gp:before {
  height: 14px;
  background-position: -1995px 0px
}

.iti-flag.gq,
.iti-flag.gq:before {
  height: 14px;
  background-position: -2017px 0px
}

.iti-flag.gr,
.iti-flag.gr:before {
  height: 14px;
  background-position: -2039px 0px
}

.iti-flag.gs,
.iti-flag.gs:before {
  height: 10px;
  background-position: -2061px 0px
}

.iti-flag.gt,
.iti-flag.gt:before {
  height: 13px;
  background-position: -2083px 0px
}

.iti-flag.gu,
.iti-flag.gu:before {
  height: 11px;
  background-position: -2105px 0px
}

.iti-flag.gw,
.iti-flag.gw:before {
  height: 10px;
  background-position: -2127px 0px
}

.iti-flag.gy,
.iti-flag.gy:before {
  height: 12px;
  background-position: -2149px 0px
}

.iti-flag.hk,
.iti-flag.hk:before {
  height: 14px;
  background-position: -2171px 0px
}

.iti-flag.hm,
.iti-flag.hm:before {
  height: 10px;
  background-position: -2193px 0px
}

.iti-flag.hn,
.iti-flag.hn:before {
  height: 10px;
  background-position: -2215px 0px
}

.iti-flag.hr,
.iti-flag.hr:before {
  height: 10px;
  background-position: -2237px 0px
}

.iti-flag.ht,
.iti-flag.ht:before {
  height: 12px;
  background-position: -2259px 0px
}

.iti-flag.hu,
.iti-flag.hu:before {
  height: 10px;
  background-position: -2281px 0px
}

.iti-flag.ic,
.iti-flag.ic:before {
  height: 14px;
  background-position: -2303px 0px
}

.iti-flag.id,
.iti-flag.id:before {
  height: 14px;
  background-position: -2325px 0px
}

.iti-flag.ie,
.iti-flag.ie:before {
  height: 10px;
  background-position: -2347px 0px
}

.iti-flag.il,
.iti-flag.il:before {
  height: 15px;
  background-position: -2369px 0px
}

.iti-flag.im,
.iti-flag.im:before {
  height: 10px;
  background-position: -2391px 0px
}

.iti-flag.in,
.iti-flag.in:before {
  height: 14px;
  background-position: -2413px 0px
}

.iti-flag.io,
.iti-flag.io:before {
  height: 10px;
  background-position: -2435px 0px
}

.iti-flag.iq,
.iti-flag.iq:before {
  height: 14px;
  background-position: -2457px 0px
}

.iti-flag.ir,
.iti-flag.ir:before {
  height: 12px;
  background-position: -2479px 0px
}

.iti-flag.is,
.iti-flag.is:before {
  height: 15px;
  background-position: -2501px 0px
}

.iti-flag.it,
.iti-flag.it:before {
  height: 14px;
  background-position: -2523px 0px
}

.iti-flag.je,
.iti-flag.je:before {
  height: 12px;
  background-position: -2545px 0px
}

.iti-flag.jm,
.iti-flag.jm:before {
  height: 10px;
  background-position: -2567px 0px
}

.iti-flag.jo,
.iti-flag.jo:before {
  height: 10px;
  background-position: -2589px 0px
}

.iti-flag.jp,
.iti-flag.jp:before {
  height: 14px;
  background-position: -2611px 0px
}

.iti-flag.ke,
.iti-flag.ke:before {
  height: 14px;
  background-position: -2633px 0px
}

.iti-flag.kg,
.iti-flag.kg:before {
  height: 12px;
  background-position: -2655px 0px
}

.iti-flag.kh,
.iti-flag.kh:before {
  height: 13px;
  background-position: -2677px 0px
}

.iti-flag.ki,
.iti-flag.ki:before {
  height: 10px;
  background-position: -2699px 0px
}

.iti-flag.km,
.iti-flag.km:before {
  height: 12px;
  background-position: -2721px 0px
}

.iti-flag.kn,
.iti-flag.kn:before {
  height: 14px;
  background-position: -2743px 0px
}

.iti-flag.kp,
.iti-flag.kp:before {
  height: 10px;
  background-position: -2765px 0px
}

.iti-flag.kr,
.iti-flag.kr:before {
  height: 14px;
  background-position: -2787px 0px
}

.iti-flag.kw,
.iti-flag.kw:before {
  height: 10px;
  background-position: -2809px 0px
}

.iti-flag.ky,
.iti-flag.ky:before {
  height: 10px;
  background-position: -2831px 0px
}

.iti-flag.kz,
.iti-flag.kz:before {
  height: 10px;
  background-position: -2853px 0px
}

.iti-flag.la,
.iti-flag.la:before {
  height: 14px;
  background-position: -2875px 0px
}

.iti-flag.lb,
.iti-flag.lb:before {
  height: 14px;
  background-position: -2897px 0px
}

.iti-flag.lc,
.iti-flag.lc:before {
  height: 10px;
  background-position: -2919px 0px
}

.iti-flag.li,
.iti-flag.li:before {
  height: 12px;
  background-position: -2941px 0px
}

.iti-flag.lk,
.iti-flag.lk:before {
  height: 10px;
  background-position: -2963px 0px
}

.iti-flag.lr,
.iti-flag.lr:before {
  height: 11px;
  background-position: -2985px 0px
}

.iti-flag.ls,
.iti-flag.ls:before {
  height: 14px;
  background-position: -3007px 0px
}

.iti-flag.lt,
.iti-flag.lt:before {
  height: 12px;
  background-position: -3029px 0px
}

.iti-flag.lu,
.iti-flag.lu:before {
  height: 12px;
  background-position: -3051px 0px
}

.iti-flag.lv,
.iti-flag.lv:before {
  height: 10px;
  background-position: -3073px 0px
}

.iti-flag.ly,
.iti-flag.ly:before {
  height: 10px;
  background-position: -3095px 0px
}

.iti-flag.ma,
.iti-flag.ma:before {
  height: 14px;
  background-position: -3117px 0px
}

.iti-flag.mc,
.iti-flag.mc:before {
  height: 15px;
  background-position: -3139px 0px
}

.iti-flag.md,
.iti-flag.md:before {
  height: 10px;
  background-position: -3160px 0px
}

.iti-flag.me,
.iti-flag.me:before {
  height: 10px;
  background-position: -3182px 0px
}

.iti-flag.mf,
.iti-flag.mf:before {
  height: 14px;
  background-position: -3204px 0px
}

.iti-flag.mg,
.iti-flag.mg:before {
  height: 14px;
  background-position: -3226px 0px
}

.iti-flag.mh,
.iti-flag.mh:before {
  height: 11px;
  background-position: -3248px 0px
}

.iti-flag.mk,
.iti-flag.mk:before {
  height: 10px;
  background-position: -3270px 0px
}

.iti-flag.ml,
.iti-flag.ml:before {
  height: 14px;
  background-position: -3292px 0px
}

.iti-flag.mm,
.iti-flag.mm:before {
  height: 14px;
  background-position: -3314px 0px
}

.iti-flag.mn,
.iti-flag.mn:before {
  height: 10px;
  background-position: -3336px 0px
}

.iti-flag.mo,
.iti-flag.mo:before {
  height: 14px;
  background-position: -3358px 0px
}

.iti-flag.mp,
.iti-flag.mp:before {
  height: 10px;
  background-position: -3380px 0px
}

.iti-flag.mq,
.iti-flag.mq:before {
  height: 14px;
  background-position: -3402px 0px
}

.iti-flag.mr,
.iti-flag.mr:before {
  height: 14px;
  background-position: -3424px 0px
}

.iti-flag.ms,
.iti-flag.ms:before {
  height: 10px;
  background-position: -3446px 0px
}

.iti-flag.mt,
.iti-flag.mt:before {
  height: 14px;
  background-position: -3468px 0px
}

.iti-flag.mu,
.iti-flag.mu:before {
  height: 14px;
  background-position: -3490px 0px
}

.iti-flag.mv,
.iti-flag.mv:before {
  height: 14px;
  background-position: -3512px 0px
}

.iti-flag.mw,
.iti-flag.mw:before {
  height: 14px;
  background-position: -3534px 0px
}

.iti-flag.mx,
.iti-flag.mx:before {
  height: 12px;
  background-position: -3556px 0px
}

.iti-flag.my,
.iti-flag.my:before {
  height: 10px;
  background-position: -3578px 0px
}

.iti-flag.mz,
.iti-flag.mz:before {
  height: 14px;
  background-position: -3600px 0px
}

.iti-flag.na,
.iti-flag.na:before {
  height: 14px;
  background-position: -3622px 0px
}

.iti-flag.nc,
.iti-flag.nc:before {
  height: 10px;
  background-position: -3644px 0px
}

.iti-flag.ne,
.iti-flag.ne:before {
  height: 15px;
  background-position: -3666px 0px
}

.iti-flag.nf,
.iti-flag.nf:before {
  height: 10px;
  background-position: -3686px 0px
}

.iti-flag.ng,
.iti-flag.ng:before {
  height: 10px;
  background-position: -3708px 0px
}

.iti-flag.ni,
.iti-flag.ni:before {
  height: 12px;
  background-position: -3730px 0px
}

.iti-flag.nl,
.iti-flag.nl:before {
  height: 14px;
  background-position: -3752px 0px
}

.iti-flag.no,
.iti-flag.no:before {
  height: 15px;
  background-position: -3774px 0px
}

.iti-flag.np,
.iti-flag.np:before {
  height: 15px;
  background-position: -3796px 0px
}

.iti-flag.nr,
.iti-flag.nr:before {
  height: 10px;
  background-position: -3811px 0px
}

.iti-flag.nu,
.iti-flag.nu:before {
  height: 10px;
  background-position: -3833px 0px
}

.iti-flag.nz,
.iti-flag.nz:before {
  height: 10px;
  background-position: -3855px 0px
}

.iti-flag.om,
.iti-flag.om:before {
  height: 10px;
  background-position: -3877px 0px
}

.iti-flag.pa,
.iti-flag.pa:before {
  height: 14px;
  background-position: -3899px 0px
}

.iti-flag.pe,
.iti-flag.pe:before {
  height: 14px;
  background-position: -3921px 0px
}

.iti-flag.pf,
.iti-flag.pf:before {
  height: 14px;
  background-position: -3943px 0px
}

.iti-flag.pg,
.iti-flag.pg:before {
  height: 15px;
  background-position: -3965px 0px
}

.iti-flag.ph,
.iti-flag.ph:before {
  height: 10px;
  background-position: -3987px 0px
}

.iti-flag.pk,
.iti-flag.pk:before {
  height: 14px;
  background-position: -4009px 0px
}

.iti-flag.pl,
.iti-flag.pl:before {
  height: 13px;
  background-position: -4031px 0px
}

.iti-flag.pm,
.iti-flag.pm:before {
  height: 14px;
  background-position: -4053px 0px
}

.iti-flag.pn,
.iti-flag.pn:before {
  height: 10px;
  background-position: -4075px 0px
}

.iti-flag.pr,
.iti-flag.pr:before {
  height: 14px;
  background-position: -4097px 0px
}

.iti-flag.ps,
.iti-flag.ps:before {
  height: 10px;
  background-position: -4119px 0px
}

.iti-flag.pt,
.iti-flag.pt:before {
  height: 14px;
  background-position: -4141px 0px
}

.iti-flag.pw,
.iti-flag.pw:before {
  height: 13px;
  background-position: -4163px 0px
}

.iti-flag.py,
.iti-flag.py:before {
  height: 11px;
  background-position: -4185px 0px
}

.iti-flag.qa,
.iti-flag.qa:before {
  height: 8px;
  background-position: -4207px 0px
}

.iti-flag.re,
.iti-flag.re:before {
  height: 14px;
  background-position: -4229px 0px
}

.iti-flag.ro,
.iti-flag.ro:before {
  height: 14px;
  background-position: -4251px 0px
}

.iti-flag.rs,
.iti-flag.rs:before {
  height: 14px;
  background-position: -4273px 0px
}

.iti-flag.ru,
.iti-flag.ru:before {
  height: 14px;
  background-position: -4295px 0px
}

.iti-flag.rw,
.iti-flag.rw:before {
  height: 14px;
  background-position: -4317px 0px
}

.iti-flag.sa,
.iti-flag.sa:before {
  height: 14px;
  background-position: -4339px 0px
}

.iti-flag.sb,
.iti-flag.sb:before {
  height: 10px;
  background-position: -4361px 0px
}

.iti-flag.sc,
.iti-flag.sc:before {
  height: 10px;
  background-position: -4383px 0px
}

.iti-flag.sd,
.iti-flag.sd:before {
  height: 10px;
  background-position: -4405px 0px
}

.iti-flag.se,
.iti-flag.se:before {
  height: 13px;
  background-position: -4427px 0px
}

.iti-flag.sg,
.iti-flag.sg:before {
  height: 14px;
  background-position: -4449px 0px
}

.iti-flag.sh,
.iti-flag.sh:before {
  height: 10px;
  background-position: -4471px 0px
}

.iti-flag.si,
.iti-flag.si:before {
  height: 10px;
  background-position: -4493px 0px
}

.iti-flag.sj,
.iti-flag.sj:before {
  height: 15px;
  background-position: -4515px 0px
}

.iti-flag.sk,
.iti-flag.sk:before {
  height: 14px;
  background-position: -4537px 0px
}

.iti-flag.sl,
.iti-flag.sl:before {
  height: 14px;
  background-position: -4559px 0px
}

.iti-flag.sm,
.iti-flag.sm:before {
  height: 15px;
  background-position: -4581px 0px
}

.iti-flag.sn,
.iti-flag.sn:before {
  height: 14px;
  background-position: -4603px 0px
}

.iti-flag.so,
.iti-flag.so:before {
  height: 14px;
  background-position: -4625px 0px
}

.iti-flag.sr,
.iti-flag.sr:before {
  height: 14px;
  background-position: -4647px 0px
}

.iti-flag.ss,
.iti-flag.ss:before {
  height: 10px;
  background-position: -4669px 0px
}

.iti-flag.st,
.iti-flag.st:before {
  height: 10px;
  background-position: -4691px 0px
}

.iti-flag.sv,
.iti-flag.sv:before {
  height: 12px;
  background-position: -4713px 0px
}

.iti-flag.sx,
.iti-flag.sx:before {
  height: 14px;
  background-position: -4735px 0px
}

.iti-flag.sy,
.iti-flag.sy:before {
  height: 14px;
  background-position: -4757px 0px
}

.iti-flag.sz,
.iti-flag.sz:before {
  height: 14px;
  background-position: -4779px 0px
}

.iti-flag.ta,
.iti-flag.ta:before {
  height: 10px;
  background-position: -4801px 0px
}

.iti-flag.tc,
.iti-flag.tc:before {
  height: 10px;
  background-position: -4823px 0px
}

.iti-flag.td,
.iti-flag.td:before {
  height: 14px;
  background-position: -4845px 0px
}

.iti-flag.tf,
.iti-flag.tf:before {
  height: 14px;
  background-position: -4867px 0px
}

.iti-flag.tg,
.iti-flag.tg:before {
  height: 13px;
  background-position: -4889px 0px
}

.iti-flag.th,
.iti-flag.th:before {
  height: 14px;
  background-position: -4911px 0px
}

.iti-flag.tj,
.iti-flag.tj:before {
  height: 10px;
  background-position: -4933px 0px
}

.iti-flag.tk,
.iti-flag.tk:before {
  height: 10px;
  background-position: -4955px 0px
}

.iti-flag.tl,
.iti-flag.tl:before {
  height: 10px;
  background-position: -4977px 0px
}

.iti-flag.tm,
.iti-flag.tm:before {
  height: 14px;
  background-position: -4999px 0px
}

.iti-flag.tn,
.iti-flag.tn:before {
  height: 14px;
  background-position: -5021px 0px
}

.iti-flag.to,
.iti-flag.to:before {
  height: 10px;
  background-position: -5043px 0px
}

.iti-flag.tr,
.iti-flag.tr:before {
  height: 14px;
  background-position: -5065px 0px
}

.iti-flag.tt,
.iti-flag.tt:before {
  height: 12px;
  background-position: -5087px 0px
}

.iti-flag.tv,
.iti-flag.tv:before {
  height: 10px;
  background-position: -5109px 0px
}

.iti-flag.tw,
.iti-flag.tw:before {
  height: 14px;
  background-position: -5131px 0px
}

.iti-flag.tz,
.iti-flag.tz:before {
  height: 14px;
  background-position: -5153px 0px
}

.iti-flag.ua,
.iti-flag.ua:before {
  height: 14px;
  background-position: -5175px 0px
}

.iti-flag.ug,
.iti-flag.ug:before {
  height: 14px;
  background-position: -5197px 0px
}

.iti-flag.um,
.iti-flag.um:before {
  height: 11px;
  background-position: -5219px 0px
}

.iti-flag.us,
.iti-flag.us:before {
  height: 11px;
  background-position: -5241px 0px
}

.iti-flag.uy,
.iti-flag.uy:before {
  height: 14px;
  background-position: -5263px 0px
}

.iti-flag.uz,
.iti-flag.uz:before {
  height: 10px;
  background-position: -5285px 0px
}

.iti-flag.va,
.iti-flag.va:before {
  height: 15px;
  background-position: -5307px 0px
}

.iti-flag.vc,
.iti-flag.vc:before {
  height: 14px;
  background-position: -5324px 0px
}

.iti-flag.ve,
.iti-flag.ve:before {
  height: 14px;
  background-position: -5346px 0px
}

.iti-flag.vg,
.iti-flag.vg:before {
  height: 10px;
  background-position: -5368px 0px
}

.iti-flag.vi,
.iti-flag.vi:before {
  height: 14px;
  background-position: -5390px 0px
}

.iti-flag.vn,
.iti-flag.vn:before {
  height: 14px;
  background-position: -5412px 0px
}

.iti-flag.vu,
.iti-flag.vu:before {
  height: 12px;
  background-position: -5434px 0px
}

.iti-flag.wf,
.iti-flag.wf:before {
  height: 14px;
  background-position: -5456px 0px
}

.iti-flag.ws,
.iti-flag.ws:before {
  height: 10px;
  background-position: -5478px 0px
}

.iti-flag.xk,
.iti-flag.xk:before {
  height: 15px;
  background-position: -5500px 0px
}

.iti-flag.ye,
.iti-flag.ye:before {
  height: 14px;
  background-position: -5522px 0px
}

.iti-flag.yt,
.iti-flag.yt:before {
  height: 14px;
  background-position: -5544px 0px
}

.iti-flag.za,
.iti-flag.za:before {
  height: 14px;
  background-position: -5566px 0px
}

.iti-flag.zm,
.iti-flag.zm:before {
  height: 14px;
  background-position: -5588px 0px
}

.iti-flag.zw,
.iti-flag.zw:before {
  height: 10px;
  background-position: -5610px 0px
}

.iti-flag.np,
.iti-flag.np:before {
  background-color: transparent
}
