// В этом файле должны быть стили для БЭМ-блока b-increase-views, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-increase-views {

  $block-name:                &; // #{$block-name}__element

  padding: 24px 0;

  @media (min-width: $screen-lg) {
    padding-top: 72px;
  }

  &__inner {

    @media (min-width: $screen-lg) {
      margin-left: -20px;
    }
  }

  &__step {
    margin: 0 0 16px;
  }

  &__share-form {
    margin-bottom: 16px;
  }

  &__btn-share {
    width: 300px;
    margin-bottom: 24px;
  }
}
