// В этом файле должны быть стили для БЭМ-блока b-progress, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-progress {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 10px;

  &__line {
    position: relative;
    width: 100%;
    height: 16px;
    border: 1px solid $gray-lightest;
    border-radius: 7px;
  }

  &__num {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    background: $color-main;
  }

  &__action {
    display: block;
    padding: 6px 0 0;
    font-size: $font-size--small;
    line-height: $line-height;
    color: $color-main;
  }
}
