// В этом файле должны быть стили для БЭМ-блока b-page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-page-header {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 40px;
  background: #fff;
  overflow: visible;

  @media (min-width: $screen-md) {
    height: 50px;
    background: #98c12f;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 8px 0 12px;
    border-bottom: 1px solid #E8E8E8;
    background: #fff;

    @media (min-width: $screen-md) {
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 0;
      background: #98c12f;
    }

    @media (min-width: $screen-lg) {
      padding-right: 12px;
    }
  }

  &__logo {
    position: relative;
    height: 34px;
    background: #fff;
    overflow: hidden;

    @media (min-width: $screen-md) {
      width: 78px;
      height: 100%;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        background: #fff;
      }
    }

    @media (min-width: $screen-lg) {
      width: auto;
      margin-right: 8px;

      &:after {
        display: none;
      }
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-513px); // NOTE[@nicothin]: подобрано
    }
  }

  &__burger {
    margin-left: auto;
    z-index: 100 !important;
  }

  &__main-nav {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-328px); // NOTE[@nicothin]: подобрано по дизайну
    }
  }

  &__mobile-nav-logo-wrap {
    display: flex;
    margin: 0 0 25px;
    padding: 20px 0 0 18px;
  }

  &__anonymous-user {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      margin-left: auto;
    }
  }

  &__user {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      margin-left: auto;
      margin-right: 32px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 12px;
    }
  }

  &__user-notification {
    margin-right: 20px;
  }

  &__main-btn-wrap {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      margin-left: 20px;
    }
  }

  &__main-btn-text-lg {
    display: none;

    @media (min-width: $screen-lg) {
      display: inline;
    }
  }

  &__main-btn-text-xl {
    display: none;

    @media (min-width: $screen-xl) {
      display: inline;
    }
  }

  &__search-wrap {
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    background: #A1BF4B;
    transition: all 0.3s ease;

    .hide-header-search-xs & {
      transform: translateY(-101%);
    }

    .no-search-xs & {
      display: none;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}
