// Базовые цвета https://colorscheme.ru/color-converter.html

$gray-dark:                   #535353;
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  #a1a1a1;
$gray-light-2:                #bebebe;
$gray-lightest:               #e9e9e9;
$gray-lightest-2:             #f0f0f0;

$color-main:                  #98c12f;
$color-main--dark:            #8ab125;
$color-main--light:           #cbec77;
$color-second:                #d84b2a;
$color-second--light:         #e16042;

// $color-success:               hsl(120, 39%, 54%);
// $color-danger:                hsl(2, 64%, 58%);
// $color-warning:               hsl(35, 84%, 62%);



// Семантические цвета

$text-color:                  $gray-dark;

$border-color:                $gray-lightest;



// Базовая типографика

$font-size:                   14px;

$font-size--h1:               26px;
$font-size--h2:               20px;
$font-size--h3:               16px;

$font-size--small:            80%;

$line-height:                 1.375;

$font-family:                 Roboto, sans-serif;



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;



// Разное

$border-radius:               2px;
$opacity:                     0.7;

$transition-time:             0.3s;
