// В этом файле должны быть стили для БЭМ-блока b-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-form {

  $block-name:                &; // #{$block-name}__element

  .form-control {
    padding: 10px 14px;
    height: 42px;
    font-size: 14px !important;
    border-radius: 3px;
    color: $text-color;
    -webkit-appearance: none;
  }

  .form-group label {
    margin-top: 2px;
  }

  .form-group .selectBox a {
    color: $text-color;
    text-decoration: none;
  }

  &__field {
    position: relative;
  }

  &__option-inactive {
    color: $gray-light;
  }

  &__btns {
    margin-top: 30px;
  }
}
