// В этом файле должны быть стили для БЭМ-блока b-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-form {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $screen-md) {
    padding: 20px 0;
  }

  .form-group {
    width: 100%;
  }

  .form-control {
    padding: 10px 14px;
    height: 42px;
    font-size: 14px !important;
    border-radius: 3px;
    color: $text-color;
    -webkit-appearance: none;
  }

  .form-group label {
    margin-top: 2px;
  }

  .form-group .selectBox a {
    color: $text-color;
    text-decoration: none;
  }

  &__group {

    @media (min-width: $screen-md) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__label {
    color: #000;
    line-height: 1;

    @media (min-width: $screen-md) {
      width: 160px;
      text-align: right;
      padding: 13px 18px 0 0;

      .b-select & {
        padding-top: 12px;
      }
    }
  }

  &__field {
    position: relative;

    @media (min-width: $screen-md) {
      flex-shrink: 0;
      width: 300px;
    }
  }

  &__option-inactive {
    color: $gray-light;
  }

  &__btns {
    margin-top: 30px;

    @media (min-width: $screen-md) {
      padding-left: 160px;
    }
  }
}
