// В этом файле должны быть стили для БЭМ-блока b-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-btn {

  $block-name:                &; // #{$block-name}__element

  padding: 10px 12px !important;
  height: 40px !important;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
    fill: #fff;
  }



  &--vk {
    position: relative;
    display: block;
    width: 130px;
    padding-left: 40px !important;
    border: none;
    background-color: #4d75a3 !important;
    color: #fff !important;

    #{$block-name}__icon {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--fb {
    position: relative;
    display: block;
    width: 130px;
    padding-left: 40px !important;
    border: none;
    background-color: #3b5998 !important;
    color: #fff !important;

    #{$block-name}__icon {
      position: absolute;
      left: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--wide {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  &--ph24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.btn-gray {
  color: #333;
  background-color: $gray-lightest-2;
  border-color: #ccc
}

.btn-gray.focus,.btn-gray:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c
}

.btn-gray.active,
.btn-gray:active,
.btn-gray:hover,
.open>.dropdown-toggle.btn-gray {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-gray.active.focus,
.btn-gray.active:focus,
.btn-gray.active:hover,
.btn-gray:active.focus,
.btn-gray:active:focus,
.btn-gray:active:hover,
.open>.dropdown-toggle.btn-gray.focus,
.open>.dropdown-toggle.btn-gray:focus,
.open>.dropdown-toggle.btn-gray:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c
}

.btn-gray.active,.btn-gray:active,
.open>.dropdown-toggle.btn-gray {
  background-image: none
}

.btn-gray.disabled.focus,
.btn-gray.disabled:focus,
.btn-gray.disabled:hover,
.btn-gray[disabled].focus,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:hover {
  background-color: #fff;
  border-color: #ccc
}
