// В этом файле должны быть стили для БЭМ-блока b-btn-2, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-btn-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 5px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background: #D84B2A;
  color: #fff;
  border: 1px solid #D84B2A;
  border-radius: 2px;
  outline: none;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: #C24629;
    border: 1px solid #C24629;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__label-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #A1BF4B;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }



  &--secondary {
    border: 1px solid #D84B2A;
    background: #ffffff;
    color: #D84B2A;

    &:hover,
    &:focus {
      color: #C24629;
      background: #fff;
      border: 1px solid #C24629;
    }
  }

  &--white {
    border: 0;
    background: #ffffff;
    color: #799234;

    &:hover,
    &:focus {
      color: #799234;
      background: #fff;
      border: none;
    }
  }

  &--block {
    display: flex;
    width: 100%;
  }

  &--lg {
    padding: 10px 37px 9px;
  }
}
