// В этом файле должны быть стили для БЭМ-блока b-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-slider {

  $block-name:                &; // #{$block-name}__element

  overflow-x: hidden;

  .jcarousel-control-prev,
  .jcarousel-control-next {
    background: transparent;
    outline: none;
  }

  &__title {}

}
